body {
  background: #202020;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#videos {
  margin: 20px auto;
}

video {
  width: 240px;
  height: 180px;
  border: 2px solid white;
  margin: 5px;
}

#game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background: #303030;
}

